@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Assets/World - 2.mp4');
    height: 100vh;
    text-align: center;
    color: white;
}

.hometext h2{
    padding: 25px;
}

#home a {
    background-color: #1848A1;
    border: none;
    font-size: 25px;
    padding: 10px;
}






